#src {
    display: none;
}

#typed-paragraph {
    padding: 50px;
}

#target {
    white-space: pre-line;
}
  
#target,
#typed-cursor {
    color: #505050;
    font-family: monospace;
    line-height: 1.5;
    font-size: 1.9em;
}
  
#typed-cursor {
    opacity: 1;
    font-weight: 800;
    animation: blink 0.7s infinite;
}
  
@-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}